<template>
  <div class="spots" key="results-page">
    <about></about>
    <div class="results">
      <h1 class="results__headline">Your Personalised
        <span>Spring Holiday</span>
        <span>Getaway</span>
      </h1>
      <transition name="fade" mode="out-in">
        <div class="spinner" key="spinner" v-show="loading" >
          <md-spinner :md-size="120" :md-stroke="2" md-indeterminate class="md-accent" ></md-spinner>
        </div>
      </transition>
      <transition appear
      appear-class="fade-enter"
      appear-active-class="fade-enter-active"
      >
        <div key="content">
          <results-intro :placeid="this.options.id"></results-intro>
          <results v-bind:options="options" v-on:resultsReady="toggleSpinner">
          </results>
          <div class="footer">

            <p class="footer__cta">
              <router-link :to="{ path: '/explore', query: { latlng: latlng, is: this.options.interstate }}">Discover more places</router-link>
            </p>
            <span>OR</span>
            <social v-if="!fresh" :placeid="this.options.id"></social>
            <p v-if="fresh" class="footer__generate">
              <a href="http://qldcamping.curiosat.com">Generate your own selection of campgrounds</a>
            </p>
          </div>
        </div>
      </transition>
    </div>

  </div>
</template>

<script>
import Vue from 'vue'; // get vue
import axios from 'axios'; // get http
import resultsIntro from '../components/resultsIntro.vue';
import results from '../components/results.vue';
import about from '../components/about.vue';
import bus from '../bus.js';
import social from '../components/shareResults.vue';

export default {
  props: {
    route: {
      default: function() {
        return {}
      }
    },
    loading: {
      default: true
    },
    fresh: {
      default: false
    },
    options: {
      default: function() {
        return {}
      }
    }
  },
  data: function() {
    let obj = this;
    if (this.$parent && this.$parent.options.id) {
      this.options = this.$parent.options;
      return this.$parent.options;
    } else {
      this.fresh = !this.fresh;
      axios.get('http://qldcamping.curiosat.com/get?hash=' + this.route.params.id)
        .then(function (response) {
          obj.options = response.data;
          return response.data;
          })
        .catch(function (error) {
          console.log(error.message);
          return {}
      })
    }
  },
  mounted: function() {
  },
  components: {
    'results-intro': resultsIntro,
    'results': results,
    'about': about,
    'social': social
  },
  methods: {
    toggleSpinner: function() {
      this.loading = !this.loading;
    }
  }
}
</script>

<style>

  .spots .md-layout:not(.md-column) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex: 1;
        flex: 1;
  }

  .spots .md-column.col {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
        flex-direction: column;
  }


  .results__headline {
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1.7rem;
    font-weight: 400;
    letter-spacing: 1.3px;
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;
  }

  .results__headline span {
    display: block;
    font-size: 3.4em;
    font-weight: 800;
    letter-spacing: 0.5;
    line-height: 2.2rem;
  }

  .results__headline span:last-child {
    font-size: 2.2em;
  }
  .spinner {
    margin: 30px auto;
    text-align: center;
  }

  .results {
    position: relative;
    overflow: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    color: #573e1a;
  }

  .results .material-icons {
    margin-top: -4px;
    margin-right: 6px;
  }


  a:hover {
    cursor: pointer;
  }
  .footer {
    text-align: center;
  }

  .footer__cta {
    margin-bottom: 2.6rem;
    font-size: 1.6rem;
    text-align: center;
  }

  .footer__cta a {
    color: #fff;
    background: #3f51b5;
    text-transform: none;
    padding: 20px;
    width: 100%;
    text-transform: none;
  }

  .footer__cta a:hover,
  .footer__cta a:focus {
    background: #4b5a9f;
  }

  .footer__generate{
    padding-bottom: 40px;
  }


  .footer__generate a {
    color: #573e1a;

  }


  .fade-enter-active {
    transition: all .2s cubic-bezier(0.12,0.37,0.42,0.95);
    transition-delay: 0.65s;
  }
  .fade-leave-active {
    transform: translateY(-10px);
    transition: all .2s ease;
    transition-delay: 0.2s;
  }
  .fade-enter {
    transform: translateY(10px);
    opacity: 0;
  }
  .fade-leave-to {
    opacity: 0;
  }

  @media (min-width: 600px) {

    .footer__cta {
      font-size: 2rem;
    }

    .footer__cta a {
      display: inline-block;
      width: 80%;
    }

    .results__headline {
      margin-top: 4rem;
    }

  }
</style>
