<template>
  <div>
    <about></about>
    <div class="home" key="bg">
    </div>
    <countdown date="2017-09-16 00:00:00" message="left till the start of the Spring School Holiday"></countdown>

    <welcome>
      <transition name="slide-fade" mode="out-in">
        <intro-card v-if="show" v-on:getForm="toggleShow"></intro-card>
        <preferences v-else v-on:submitData="toggleSpinner"></preferences>
      </transition>
    </welcome>
  </div>

</template>

<script>
  import Vue from 'vue'; // get vue
  import countdown from '../components/countdown.vue';
  import welcome from '../components/welcome.vue';
  import introCard from '../components/introCard.vue';
  import preferences from '../components/preferences.vue';
  import about from '../components/about.vue';

  export default {
    props: {
      show: {
        default: true,
      },
    },
    components: {
      'countdown': countdown,
      'welcome': welcome,
      'intro-card': introCard,
      'preferences': preferences,
      'about': about
    },
    methods:{
      toggleShow: function() {
        this.$ga.event('journey-planner', 'start-clicked', 'Landing page');
        this.show = !this.show;
      },
      toggleSpinner: function(q) {
        this.$ga.event('preferences', 'getData-clicked', 'Landing page');
      }
    }
  }
</script>

<style>
  .home {
    background: url('/images/bg-mobile.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;
    height: 105vh;
    margin-left: -5%;
    margin-top: -2vh;
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }


  .slide-fade-enter-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-leave-active {
    transition: all .3s ease;
  }
  .slide-fade-enter {
    transform: translateX(10px);
    opacity: 0;
  }
  .slide-fade-leave-to {
    transform: translateX(-10px);
    opacity: 0;
  }

  @media (min-width: 880px) {
    .home {
      background-image: url('/images/bg.jpg');
    }

  }
</style>
