<template>
  <div>
    <about></about>
    <div id="map">
      <mapbox
      access-token="pk.eyJ1IjoiY3VyaW9zYXQiLCJhIjoiY2o2MnVkeHl4MTl4NzJxbjA3NGo1MjcyeSJ9.Z077F35IrWktMhmerxMUGw"
        :map-options="{
            style: 'mapbox://styles/curiosat/cj7ere32f24me2rny7w7vyuo6',
            center: this.center,
            zoom: this.zoom
        }"
        :geolocate-control="{
            show: true,
            position: 'top-right'
        }"
        :scale-control="{
            show: true,
            position: 'top-right'
        }"
        :fullscreen-control="{
            show: true,
            position: 'top-right'
        }"
        @map-load="mapLoaded"
        @map-click="mapClicked"
        @map-touchend="mapClicked"
        >
      </mapbox>
      <button type="button" name="button" class="open" v-if="!show"  v-on:click="show = !show">  <md-icon>menu</md-icon><span class="open__label">open</span></button></button>
      <transition name="map-fade">
        <div class="hello" id="hello-text" v-if="show" >
          <button type="button" name="button" class="close"  v-on:click="show = !show"><md-icon>close</md-icon><span class="close__label">close</span></button>
          <h1>Explore campgrounds in your area</h1>
          <p class="hello__text">Click on the campgrounds on the map to see how busy they were the last Spring Holiday.</p>
          <p><span class="hello__busy--extra hello__annotation">Very busy</span><span class="hello__busy--medium hello__annotation">Moderately busy</span><span class="hello__busy hello__annotation">Least busy</span></p>
          <p class="hello__text--alt"><md-icon>whatshot</md-icon><span class="hello__avg">How likely is the site to be crowded compared to offseason</span></p>
          <p class="hello__text--alt"><md-icon>people</md-icon><span class="hello__avg">Average number of visitors in the campground per day</span></p>
          <p class="hello__text--alt"><md-icon>star</md-icon><span class="hello__pop">Popularity level based on the number of campers in the National Park in 2016/2017</span></p>
          <!-- social logo -->
          <p class="hello__share">Share this page on
            <a class="hello__share-link" href="#" v-on:click="share" title="facebook"><span class="icon-facebook2"></span></a>
            or
            <a class="hello__share-link" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fqldcamping.curiosat.com/explore&text=Here%20are%20my%20top%206%20choices%20for%20Qld%20campgrounds%20for%20this%20Spring%20Holiday&hashtags=QldCamping" title="twitter" target="_blank"><span class="icon-twitter"></span></a>
          </p>
        </div>
      </transition>

    </div>
  </div>

</template>

<script>
import Mapbox from 'mapbox-gl-vue';
import about from '../components/about.vue';
import Vue from 'vue'; // get vue

export default {
  props:{
    latlng: {
      default: '-27.595,152.833'
    },
    is: {
      default: true
    },
    show: {
      default: true
    },
    popup: {
      default: []
    }
  },
  components: {
    'mapbox': Mapbox,
    'about': about
  },
  computed: {
    center: function() {
      if (this.is !== 'false') {
        return ['144.293112','-21.999787']
      }

      return [this.latlng.split(',')[1], this.latlng.split(',')[0]]
    },
    zoom: function(){
      if (this.is !== 'false') {
        return 4;
      }
      return 8
    }
  },
  methods: {
    destroyHello(e) {
      document.getElementById('hello-text').parentElement.removeChild(document.getElementById('hello-text'));
    },
    mapLoaded(map) {
    },
    share: function(e) {
      FB.ui({
        hashtag: '#QldCamping',
        method: 'share',
        mobile_iframe: true,
        href: 'http://qldcamping.curiosat.com/explore?latlng=' + this.latlng,
      },
      function(response){});
      return false;
    },
    mapClicked(map, e) {
      this.addPopUp(map, e);
    },
    mapMouseMoved(map, e) {
      const features = map.queryRenderedFeatures(e.point, {
        layers: ['campgrounds-2016-2017']
      });
      map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';
    },
    addPopUp(map, e) {
      const features = map.queryRenderedFeatures(e.point, {
        layers: ['campgrounds-locations-2016-2017 copy 1', 'campgrounds-locations-2016-2017 copy', 'campgrounds-locations-2016-2017']
      });

      if (this.popup && this.popup.length) {
        for (let i = 0; i < this.popup.length; i++) {
          if (this.popup[i].remove) {
            this.popup[i].remove();
          }
        }
      }

      if (!features.length) {
        return;
      }

      const feature = features[0];
      const busyScore = feature.properties.busyScore;
      let busyLevel = '';

      if (busyScore > 32 && busyScore < 51) {
        busyLevel = 'medium';
      }

      if (busyScore > 50) {
        busyLevel = 'extra';
      }
      let i = 0;
      const days = feature.properties.days.split(',');
      days[0] = days[0].substring(1,2);
      days[17] = days[17].substring(0,1);

      let sum = 0;
      let chart = '<div>';

      for (i; i < 18; i++) {
        chart = chart + `<span class="bar" style="height:${days[i]*0.7}px ">${days[i]}</span>`
        sum = sum + parseInt(days[i]);
      }
      chart = chart + '</div>'

      const template = `
      <div class="popup">
        <p class="popup__sub">${feature.properties.np}</p>
        <h2 class="popup__title popup__title--${busyLevel}">${feature.properties.title}</h2>
        <div>

          <div class="popup__chart popup__chart--${busyLevel}">
          <span class="chart-anno">Visitor numbers during last Spring Holiday</span>
          ${chart}

          </div>
          <p class="popup__scores">
            <span class="popup__busy">
              <i aria-hidden="true" class="popup__icon md-icon md-theme-default material-icons">whatshot</i><span>Crowd</span><span>${busyScore}%</span>
            </span>
            <span class="popup__popularity">
                <i aria-hidden="true" class="popup__icon md-icon md-theme-default material-icons">people</i><span>Avg</span>
                <span>${Math.floor(sum / days.length)} /day </span>
            </span>
            <span class="popup__popularity">
                <i aria-hidden="true" class="popup__icon md-icon md-theme-default material-icons">star</i><span>Rating</span><span>${feature.properties.popularity || 0}/100</span>
            </span>
          </p>
        </div>
      </div>
      `

      // Populate the popup and set its coordinates
      // based on the feature found.
      const popup = new mapboxgl.Popup()
        .setLngLat(feature.geometry.coordinates)
        .setHTML(template)
        .addTo(map);
      this.popup.push(popup);
      this.$ga.event('map', 'campground-clicked', feature.properties.title);
    }
  }
}
</script>

<style>
  #map {
      width: 100%;
      height: 100vh;
  }
  .hello {
    position: fixed;
    top: 10px;
    right: 50px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 3000;
    max-width: 300px;
    font-family: Montserrat, sans-serif;
    padding: 8px 20px;
    color: #573e1a;
  }

  .hello h1 {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-top: 16px;
    max-width: 260px;
  }

  .hello__text {
    font-size: 1rem;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #cecece;
  }

  .hello__share {
    line-height: 20px;
  }

  .hello__share-link {
    color: #573e1a;
    text-transform: none;
    text-decoration: none;
    font-size: 20px;
    margin: 0 8px;
    cursor: pointer;
  }

  .hello__share-link:hover,
  .hello__share-link:focus {
    text-transform: none;
    text-decoration: none !important;
    color: #3f51b5;
  }

  .hello__share-link:last-child:hover,
  .hello__share-link:last-child:focus {
    text-transform: none;
    text-decoration: none;
    color: #2c87d0;
  }

  .close,
  .open {
    position: absolute;
    right: 8px;
    top: 8px;
    background: transparent;
    border: 1px solid transparent;
    width: 24px;
    height: 24px;
    overflow: hidden;
    padding: 0;
  }

  .open {
    color: #fff;
    top: 18px;
    right: 60px;
    z-index: 1000;
  }
  .map-fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s
  }
  .map-fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
  }

  .close:focus,
  .open:focus {
    border: 1px solid #333;
  }

  .close__label,
  .open__label {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .hello__annotation {
    display: block;
  }

  .hello__annotation::before {
    position: relative;
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    top: 0;
    left: 0;
    border-radius: 8px;
    background-color: #e91e63;
    margin: 0 8px;
  }

  .hello__busy.hello__annotation::before {
    background-color: #2196f3;
  }

  .hello__busy--medium.hello__annotation::before {
    background-color: #ff5722;
  }

  .hello__busy.hello__busy--medium,
  .popup__title.popup__title--medium {
    color: #ff5722;
  }

  .hello__busy.hello__busy--extra,
  .popup__title.popup__title--extra  {
    color: #e91e63;
  }

  .hello__avg,
  .hello__pop {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    width: calc(90% - 20px);
  }


  .popup {
    margin-top: 10px;
    font-size: 1.4rem;
    font-family: Montserrat, sans-serif;
    width: 280px;
    color: #573e1a;
  }

  .popup__busy {
    margin-right: 8px;
  }

  .popup__scores {
    padding-top: 2em;
    padding-bottom: 0.8em;
  }

  .popup__chart div {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .popup__chart--medium .bar {
    background-color: #ff5722;
  }
  .popup__chart--extra .bar {
    background-color: #e91e63;
  }

  .popup__title {
    font-size: 1rem;
    line-height: 1.4;
    max-width: 24em;
    color: #2196f3;
    margin: 0;
  }

  .popup__scores,
  .popup__chart {
    margin: 0;
    font-size: 0.8rem;

  }
  .popup__scores span,
  .popup__popularity span {
    display: inline-block;
    width: 80px;
    text-align: center;
  }

  .popup__sub {
    font-size: 0.6rem;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
  }

  .popup__icon {
    /*margin-right: 6px;*/
  }
  .chart-anno {
    display: inline-block;
    max-width: 170px;
    margin-top: 1em;
  }
  .bar {
    position: relative;
    display: inline-block;
    width: 10px;
    min-height: 4px;
    background-color: #2196f3;
    margin-right: 3px;
    text-indent: 100%;
    overflow: hidden;
    vertical-align: bottom;
    font-size: 8px;
    padding: 0;
  }
</style>
