<template>
  <div class="about-container">
    <transition name="about-fade" mode="out-in">
      <md-button class="md-icon-button md-raised md-primary about-toggle" v-on:click="toggleAbout"  v-if="!visibility" >
        <md-icon>info</md-icon>
      </md-button>
      <div class="about-section" v-else>
        <button type="button" name="about-close" class="about-close" v-on:click="toggleAbout" >
          <md-icon>close</md-icon>
          <span>close</span>
        </button>
        <div class="about__logo">
          <img src="/images/logo.png" alt="Curisat logo">
        </div>
        <h3 class="about__title">
          About this project
        </h3>
        <p class="about__text">
          This project was developed on the Open Data of the Queensland Government to encourage Aussies to see more of the beautiful National Parks of Queensland.

        </p>
        <p class="about__text">
          Disclosure: We, as Curiosat, have no information about your personal data and only store your preferences to regenerate your personalised suggestion quicker and make them sharable on social media.
        </p>
        <p class="about__text">
          Credit: Images on the sharable suggestion page are owned by The State of Queensland and were gathered from the Queensland NPSR website based on the reusability guideline covered on the copyright section. Favicon is based on Jarem Frye's work.
        </p>
        <p class="about__text">
          What's next: If you like this project, please let us know your feedback as we are keen to bring something even cooler to you for the Summer Holiday!
        </p>

        <div class="about__links">
          <h4>Reach out</h4>
          <p>Let us know what you think through the links below:</p>
          <span>
            <a class="about__share-link" href="https://www.facebook.com/CuriosatHQ/"  title="facebook" target="_blank"><span class="icon-twitter"></span></a>
            <a class="about__share-link" href="https://twitter.com/CuriosatHQ" target="_blank" title="twitter" ><span class="icon-facebook2"></span></a>
            <a class="about__share-link" href="ttp://curisat.com" target="_blank" title="web" ><span class="icon-sphere"></span></a>
          </span>

        </div>
      </div>
    </transition>


  </div>
</template>

<script>
  export default {
    props: {
      visibility: false
    },
    methods:{
      toggleAbout: function() {
        this.visibility = !this.visibility;
        console.log('click');
      },
    }
  }
</script>

<style>
  .about-toggle {
    display: inline-block;
    position: fixed;
    top: 8px;
    left: 6px;
    z-index: 9999;
  }

  .about-section {
    display: inline-block;
    position: fixed;
    top: 8px;
    left: 10px;
    box-sizing: border-box;
    max-width: calc(100% - 40px);
    max-height: calc(100vh - 20px);
    z-index: 99999;
    padding: 20px;
    width: 470px;
    background-color: #3f51b5;
    color: #fff;
    box-shadow: 2px 3px 8px rgba(3, 4, 4, 0.3);
    overflow-y: scroll;
  }

  .about__logo {
    text-align: center;
  }

  .about__logo img {
    max-width: 50px;
  }

  .about__share-link:hover,
  .about__share-link:focus {
    text-decoration: none !important;
    background: #3f51b5;
    color: #fff;

  }

  .about-close {
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .about-close span {
    display: inline-block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: 100%;
  }

  .about__title,
  .about__links {
    text-align: center;
  }

  .about__links {
    line-height: 1.4;
  }

  .about__links h4 {
    margin: 0;
    margin-bottom: 8px;
  }

  .about__links p {
    margin: 0;
  }

  .about__links a {
    display: inline-block;
    padding: 6px 8px;
    color: #3f51b5;
    background: #fff;
    /*box-shadow: 2px 3px 8px rgba(3, 4, 4, 0.3);*/
    margin: 6px 6px 0 6px;
  }

  .about__links span {
    display: block;
    text-align: center;
  }

  .about-fade-enter-active {
    transition: all .16s cubic-bezier(0,0,0.32,1);
  }
  .about-fade-leave-active {
    transition: all .16s ease;
  }
  .about-fade-enter {
    transform: scale(0.8);
    transform-origin: 0 -20px;
    opacity: 0;
  }
  .about-fade-leave-to {
    opacity: 0;
  }


</style>
