<template>
  <div :class="[type, 'result']">
    <figure class="result__pic">
      <img :src="photo">
      <figcaption class="result__attribution">
        <md-avatar class="md-avatar-icon">
          <md-icon>information</md-icon>
          <md-tooltip md-direction="bottom">{{photo_attribution}}</md-tooltip>
        </md-avatar>
      </figcaption>
    </figure>
    <div class="result__text">
      <p class="result__type"><span>{{type}}</span> trip #{{i + 1}}</p>
      <p class="result__np">{{np}}</p>
      <p class="result__camp">{{title}}</p>
      <div class="result__data">
        <p>
          <md-icon>alarm</md-icon>
          <span class="result__bit">Travel: </span>
          <span v-html="distance"></span>
        </p>
        <p>
          <md-icon>whatshot</md-icon>
          <span class="result__bit">Crowd: {{busyScore}}%</span>
          <span v-bind:class="[busyScore > 30 ? 'busy--medium' : '', busyScore > 50 ? 'busy--extra' : '', 'busy']" v-bind:style="{ width: 2 * busyScore + 'px' }"></span>
        </p>
        <p>
          <md-icon>star</md-icon>
          <span class="result__bit">Rating: {{popularity}}/100 </span>
          <span class="result__pops" v-bind:style="{ width: 1.2 * popularity + 'px' }"></span>
        </p>
      </div>
      <div class="result__footer">
        <p><a href="https://qpws.usedirect.com/QPWS/Facilities/SearchView.aspx" target="_blank">Book online</a></p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    photo: '',
    photo_attribution: '',
    i: 0,
    distance: '',
    title: '',
    np: '',
    title: '',
    distance: '',
    busyScore: 0,
    popularity: 0,
    type: ''
  }
}
</script>
<style>

  .busy,
  .result__pops {
    position: relative;
    display: none;
    margin-top: -14px;
    height: 12px;
    min-width: 2px;
    background: #2196f3;
  }

  .busy--medium {
    background: #ff5722;
  }

  .busy--extra {
    background: #e91e63;
  }

  .result {
    position: relative;
    width: 90%;
    margin: 20px 0;
    min-height: 460px;
    text-align: right;
  }

  .result:before,
  .result:after {
    content: "";
    display: table;
  }

  .result:after {
    clear: both;
  }


  .result__pic {
    display: inline-block;
    position: relative;
    float: right;
    max-width: 500px;
    box-sizing: border-box;
    min-width: 340px;
    text-align: right;
    margin: 0;
  }
  .result__text {
    position: absolute;
    float: left;
    display: inline-block;
    background: #fff;
    vertical-align: top;
    top: 80px;
    width: 70%;
    padding: 20px 16px;
    border-right: 2px solid #ff5722;
    box-shadow: 2px 3px 8px rgba(3, 4, 4, 0.3);
    border-radius: 2px;
  }

  .result__data {
    display: inline-block;
    text-align: left;
    margin-top: 12px;
    min-width: 120px;
  }

  .result__data p {
    color: #573e1a;
    font-size: 0.8rem;
    line-height: 1;
    margin-bottom: 4px;
  }

  .result__type {
    color: #ff5722;
    margin-bottom: 4px;
  }

  .result__type :first-child {
    text-transform: capitalize;
  }

  .result__footer {
    padding: 0;
    margin-top: 2em;
  }

  .result__np {
    text-transform: uppercase;
    font-size: 0.6rem;
  }

  .result__camp {
    color: #e91e63;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1.4;
  }

  .result__data p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 6px;
  }


  .result__attribution {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: rgba(255, 255, 255, 0.5);
  }
  .result__attribution .material-icons {
    margin-top: 0;
    opacity: 0.8;
    color: #faf6ea;
  }


  .md-tooltip {
    max-width: 180px;
    word-wrap: break-word;
    min-height: 20px;
    height: auto;
    white-space: normal;
    line-height: 1.2;
    padding: 4px;
  }


  .result__footer p {
    margin: 0;
  }

  .result__footer a {
    color: #3f51b5;
    text-decoration: none;
  }

  .result__footer a:hover,
  .result__footer a:focus {
    text-decoration: underline;
  }


    @media (min-width: 600px) {

      .result {
        min-height: 520px;
      }

      .result__footer {
        font-size: 1rem;
        margin-top: 3.2rem;
        left: 0;
        text-align: left;
      }

      .result__pic {
        max-width: 400px;
      }

      .result__camp {
        font-size: 1.6rem;
      }

      .result__np {
        font-size: 0.8rem;
      }
      .result__text {
        width: calc(100% - 50px);
        top: 60px;
        text-align: left;
        border-left: 2px solid #e91e63;
        border-right: none;
        left: 0;
        right: auto;
      }


      .overnight .result__text,
      .multiday--all .result__text {
        float: right;
        right: 0;
        left: auto;
        text-align: right;
        border-right: 2px solid #e91e63;
        border-left: none;
      }

      .overnight .result__pic,
      .multiday--all .result__pic  {
        float: left;
        text-align: left;
        left: 0;
        right: auto;
      }

      .overnight .result__attribution,
      .multiday--all .result__attribution {
        right: auto;
        left: 5px;
      }

      .overnight .result__footer,
      .multiday--all .result__footer {
        text-align: right;
      }

      .busy,
      .result__pops {
        display: block;
        margin-top: 3px;
        margin-left: 32px;
      }

    }

    @media (min-width: 960px) {

      .result {
        min-height: 470px;
      }

      .busy,
      .result__pops {
        display: inline-block;
        margin: 0;
      }

      .result__bit {
        display: inline-block;
        width: 8em;
      }
      .result__text {
        max-width: 70%;
      }

    }

</style>
