<template>
  <div class="timer-container">
    <md-layout md-gutter class="timer">
      <md-layout md-flex-small="50" md-flex-medium="25">
        <p>{{ days | two_digits }} <span>days</span></p>
      </md-layout>
      <md-layout md-flex-small="50" md-flex-medium="25">
        <p>{{ hours | two_digits }} <span>hours</span></p>
      </md-layout>
      <md-layout md-flex-small="50" md-flex-medium="25">
        <p>{{ minutes | two_digits }} <span>minutes</span></p>
      </md-layout>
      <md-layout md-flex-small="50" md-flex-medium="25">
        <p>{{ seconds | two_digits }} <span>seconds</span></p>
      </md-layout>
    </md-layout>
    <p class="timer__sub">{{message}}</p>
  </div>

</template>
<script>
export default {
  props: {
    date: null,
    message: ''
  },

  data () {
    return {
      now: Math.trunc((new Date()).getTime() / 1000),
      event: this.date
    }
  },

  computed: {
    calculatedDate () {
      this.event = Math.trunc(this.parseDate(this.event) / 1000)
      return this.event
    },
    seconds () {

      return (this.calculatedDate - this.now) % 60
    },
    minutes () {
      return Math.trunc((this.calculatedDate - this.now) / 60) % 60
    },
    hours () {
      return Math.trunc((this.calculatedDate - this.now) / 60 / 60) % 24
    },
    days () {
      return Math.trunc((this.calculatedDate - this.now) / 60 / 60 / 24)
    }
  },
  methods: {
    parseDate (input, format) {
      format = format || 'yyyy-mm-dd'; // default format
      console.log('input', input);
      var parts = input.match(/(\d+)/g),
          i = 0, fmt = {};
      // extract date-part indexes from the format
      format.replace(/(yyyy|dd|mm)/g, function(part) { fmt[part] = i++; });

      return new Date(parts[fmt['yyyy']], parts[fmt['mm']]-1, parts[fmt['dd']]);
    },
  },
  mounted () {
    window.setInterval(() => {
      this.now = Math.trunc((new Date()).getTime() / 1000)
    }, 1000)
  }
}
</script>
<style>
  .timer {
    position: absolute;
    top: 0;
    right: 10px;
    min-width: 340px;
    width: 90%;
    margin: 0 auto;
    max-width: 600px;
  }
  .timer p {
    font-size: 4rem;
    color: #fff;
    line-height: 1.2;
    text-align: left;
    margin: 0;
  }

  .timer span {
    font-size: 1rem;
  }

  .timer span {
    display: block;
  }

  .timer__sub {
    position: absolute;
    top: 5.4rem;
    right: 0;
    width: 340px;
    color: #fff;
  }

  @media (min-width: 880px) {
    .timer {
      width: 340px;
    }
  }

</style>
