<template>
  <div class="intro__container">
    <h1 class="intro__title">Where will you camp this School Holiday?</h1>
    <p class="intro__text">Whether you want to take your kids camping, or go on a trip with your friends, we encourage you take the road less travelled this year, and find something new. We gathered the camping data of 2016/17 to bring you an interactive tool to discover new places outside of your usual choices.</p>
    <p class="intro__btn"><md-button class="md-raised md-accent" v-on:click="toggleShow">Start your journey</md-button></p>
  </div>
</template>

<script>
export default {
  methods:{
    toggleShow: function() {
      this.$emit('getForm', true);
    },
  }
}
</script>

<style>

  .intro__pic {
    margin-top: 6rem;
  }
  .intro__container {
    background: #fff;
    padding: 2rem 1.4rem;
    margin-bottom: 140px;
    box-shadow: 2px 3px 8px rgba(3, 4, 4, 0.3);
    border-radius: 2px;
  }

  .intro__title {
    font-weight: 400;
    line-height: 1.3em;
    color: #573e1a;
    font-size: 1.2rem;
  }
  .intro__text {
    margin-top: 1em;
    font-size: 1rem;
    line-height: 1.6em;
    color: #573e1a;
    background: rgba(254,254,254, 0.32);
  }

  .intro__btn {
    text-align: center;
  }

  @media (min-width: 600px) {
    .intro__container {
      position: absolute;
      top: 12rem;
      right: 0;
      max-width: 80%;
      background: #fff;
      padding: 2rem 1.4rem;
      margin-bottom: 140px;
    }
    .intro__title {
      font-size: 1.6rem;
    }

    .intro__text {
      font-size: 1.2rem;
      margin: 2.6rem 0;
    }

    .intro__pic {
      margin-top: 2rem;
      margin-left: -20%;
      max-width: 80%;
    }
  }
</style>
