<template>
  <form id="preferences" class="preferences" action="submitForm" method="post" novalidate @submit.stop.prevent="submit">
    <h2 class="intro__title">{{title}}</h2>
    <transition name="slide-fade" mode="out-in">
      <div key="form" class="form" v-if="form">
        <md-input-container class="input" id="postcode-input">
          <label>Your postcode</label>
          <md-input required v-model="postcode"></md-input>
            <span class="md-error">Please add an Australian postcode to proceed.</span>
        </md-input-container>
        <md-input-container class="input" id="adults-input">
          <label>Number of adults</label>
          <md-input type="number" v-model="adults" required></md-input>
          <span class="md-error">Please choose a number between 1 and 20.</span>
        </md-input-container>

        <fieldset>
          <legend class="rating-label">What are your travel essentials?</legend>
          <md-layout md-gutter>
            <md-layout md-flex-xsmall="100" md-flex-small="50" md-flex-large="50">
              <md-checkbox id="kids-cb" name="kids" v-model="kids" class="md-primary">I go camping with kids</md-checkbox>
            </md-layout>
            <md-layout md-flex-xsmall="100" md-flex-small="50" md-flex-large="50">
              <md-checkbox id="mobile-cb" name="mobile" v-model="mobile" class="md-primary">I prefer mobile coverage</md-checkbox>
            </md-layout>
            <md-layout md-flex-xsmall="100" md-flex-small="50" md-flex-large="50">
              <md-checkbox id="wifi-cb" name="wifi" v-model="wifi" class="md-primary">I prefer Wi-Fi access</md-checkbox>
            </md-layout>
            <md-layout md-flex-xsmall="100" md-flex-small="50" md-flex-large="50">
                <md-checkbox id="bush-cb" name="bush" v-model="bushcamp" class="md-primary">I am open to bush camps</md-checkbox>
            </md-layout>
            <md-layout md-flex-xsmall="100" md-flex-small="50" md-flex-large="50">
                <md-checkbox id="walkin-cb" name="walkin" v-model="walkin" class="md-primary">I'm ok with walk-in camps</md-checkbox>
            </md-layout>
          </md-layout>
        </fieldset>
    </div>
    <div key="loading" v-else="form" id="loading-area" class="preferences__spinner">
      <md-spinner :md-size="120" md-indeterminate></md-spinner>
    </div>
    </transition>
    <md-button class="md-raised md-accent" type="submit" v-show="form">Discover New Places</md-button>
  </form>

</template>

<script>
import bus from '../bus.js';

export default {
  props: {
    form: {
      default: true,
    },
    postcode: {
      default: '',
    },
    adults: {
      default: '',
    },
    walkin: {
      default: false
    },
    wifi: {
      default: false
    },
    bushcamp: {
      default: false
    },
    mobile: {
      default: false
    },
    kids: {
      default: false
    },
    error: {
      default: false
    },
    title: {
      default: "Tell us about yourself"
    }
  },
  methods:{
    submit: function() {
      let form = document.getElementById('preferences');
      let postcode = this.postcode;

      // validate adults
      if (this.adults == 0) {
        document.getElementById('adults-input').classList.add('md-input-invalid');
        return;
      } else {
        document.getElementById('adults-input').classList.remove('md-input-invalid');
      }

      // validate postcode
      let postcodeLengthIsInvalid = postcode.length !== 4;
      let postcodeIsFromOz = postcode.match(/^[0234567]{1}[0-9]{3}$/g);

      if ( !postcodeIsFromOz || postcodeLengthIsInvalid ) {
        document.getElementById('postcode-input').classList.add('md-input-invalid');
        return;
      } else {
        document.getElementById('postcode-input').classList.remove('md-input-invalid');
      }
      let q = 0;


      q = 2 * this.kids + 4 * this.mobile + 8 * this.wifi + 16 * this.bushcamp + 32 * this.walkin;

      let obj = {
        adults: this.adults,
        postcode: this.postcode,
        query: q
      };

      bus.$emit('foo', obj);
      this.$emit('submitData', obj);
      this.form = !this.form;
      this.title = "Fetching campgrounds";
      return this;
    },
  }
}
</script>

<style>

  .preferences {
    text-align: center;
    color: #573e1a;
    background: #fff;
    padding: 20px;
    margin-bottom: 140px;
    box-shadow: 2px 3px 8px rgba(3, 4, 4, 0.3);
    border-radius: 2px;
    max-width: calc(100%-80px);
  }

  .preferences__spinner {
    text-align: center;
  }

  fieldset {
    border: none;
    margin-top: 20px;
  }

  .preferences .md-input {
    font-size: 1em;
  }

  .input {
    max-width: calc(50%-40px);
    display: inline-block;
    width: calc(50%-20px);
    text-align: left;
  }

  @media (min-width:600px) {

    .preferences {
      position: absolute;
      top: 12rem;
      right: 0;
      max-width: 80%;
    }

    .preferences__spinner {
      width: 80vw;
      max-width: 100%;
    }

    .input {
      display: inline-block;
      width: calc(50% - 30px);
      margin-left: 20px;
    }

    .input:first-child {
      margin: 0 20px 0 0;
    }
  }

</style>
