<template>
  <div class="results-inner">
      <md-layout class="col"  md-flex v-if="options.overnight && options.overnight.length">
        <md-layout md-column  md-flex  md-flex-xsmall="100"  md-flex-small="100"  md-flex-medium="50" md-flex-large="50" >
          <md-layout md-flex-large="33" md-flex v-for="(item, index) in options.overnight" :key="item.id">
            <camping-details v-bind="item" :i="index" type="overnight"></camping-details>
          </md-layout>
        </md-layout>
        <md-layout md-column   md-flex md-flex-xsmall="100"  md-flex-small="100"  md-flex-medium="50" md-flex-large="50" >
          <md-layout  md-flex md-flex-large="33" v-for="(item, index) in options.multiday" :key="item.id">
            <camping-details v-bind="item" :i="index" type="multiday"></camping-details>
          </md-layout>
        </md-layout>
      </md-layout>

      <md-layout class="col" v-else>
        <md-layout md-column  md-flex-xsmall="100"  md-flex-small="100"  md-flex-medium="50" md-flex-large="50" >
          <md-layout md-flex-large="33" v-for="(item, index) in multiLeft" :key="item.id">
            <camping-details v-bind="item" :i="item.customId" type="multiday" class="multiday--all"></camping-details>
          </md-layout>
        </md-layout>
        <md-layout md-column md-flex-xsmall="100"  md-flex-small="100"  md-flex-medium="50"  md-flex-large="50">
          <md-layout md-flex-large="33" v-for="(item, index) in multiRight" :key="item.id">
            <camping-details v-bind="item" :i="item.customId" type="multiday"></camping-details>
          </md-layout>
        </md-layout>
      </md-layout>
  </div>

</template>
<script>
  import axios from 'axios'; // get http
  import Vue from 'vue'; // get Vue
  import campingDetails from '../components/campingDetails.vue';

  export default {
    props: {
      placeid: {
        default: ''
      },
      adventure: {
        default: ''
      },
      postcode: {
        default: ''
      },
      options: function () {
        return {
          overnight: [],
          multiday: []
        }
      }
    },
    components: {
      'camping-details': campingDetails,
    },
    mounted: function() {
      this.$emit('resultsReady');
    },
    computed: {
      multiLeft: function() {
        // for interstate only
        if (this.options.overnight && this.options.overnight.length) {
          return;
        };

        if (!this.options.multiday || !this.options.multiday[0]) {
          return;
        }
        let i = 0;
        let array = [];

        let multi = this.options.multiday;

        for (i; i < 6; i = i + 2) {
          let newItem = Object.assign({}, this.options.multiday[i], {customId: i});
          array.push(newItem);
        }
        return array;
      },

      multiRight: function() {
        // for interstate only
        if (this.options.overnight && this.options.overnight.length) {
          return;
        };
        if (!this.options.multiday || !this.options.multiday[0]) {
          return;
        }
        let i = 1;
        let array = [];
        let multi = this.options.multiday;
        for (i; i < 7; i = i + 2) {
          let newItem = Object.assign({}, this.options.multiday[i], {customId: i});
          array.push(newItem);
        }
        return array;
      }
    }
  }
</script>
<style>


  .results-inner {
    position: relative;
    background: transparent;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: none;
    transition: height .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

</style>
