<template>
  <div class="results__intro">
    <div class="results__attr">
      <p>
        We have gathered the best spots we could find near your area, and further away in Queensland. The sites are scored based on the following criteria:
      </p>
      <ul class="results__annotation">
        <li><md-icon>whatshot</md-icon><span>Crowd level</span> - how likely is the site to be crowded during the Spring Holiday?</li>
        <li><md-icon>alarm</md-icon><span>Travel time</span> - how much time does it take you to get there?</li>
        <li><md-icon>star</md-icon><span>Rating score</span> - how popular is the National Park based on visitor numbers?</li>
      </ul>
    </div>
    <social :placeid="this.placeid"></social>
  </div>
</template>

<script>
import social from '../components/shareResults.vue';

export default {
  props: {
    placeid: {
       default: '222'
    }
  },
  components: {
    'social': social
  }
}

</script>

<style>

  .results__intro {
    text-align: center;
    max-width: 718px;
    margin: 20px auto 0 auto;
  }

  .results__intro ul {
    display: inline-block;
    line-height: 1.2em;
  }
  .results__intro li {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  .results__share p {
    margin-bottom: 0;
  }

  .results__share-link {
    display: inline-block;
    color: #3f51b5;
    width: 50px;
    height: 50px;
    border-radius: 1px;
    line-height: 50px;
    font-size: 25px;
    text-decoration: none;
  }

  .results__share-link:last-child {
    color: #2c87d0;
  }
  .results__share-link:hover,
  .results__share-link:focus {
      color: #343434;
      text-decoration: none !important;
  }

  .results__attr {
    padding: 20px 2px 0 2px;
    color: #fff;
    font-size: 0.8rem;
    background: #2c87d0;
    max-width: 540px;
    margin: 0 auto;
  }

  .results__attr p {
    margin: 0;
    padding: 0 10px;
  }

  .results__attr span {
    font-weight: 800;
  }

  .results__annotation {
    background: #fff;
    color: #2c87d0;
    padding: 12px;
    margin: 16px 0 2px 0;
  }

  @media (min-width: 600px) {

    .results__attr {
      font-size: 1rem;
    }

  }
</style>
