<template>
  <div class="results__share">
    <p>Share your results with your friends</p>
    <a class="results__share-link" href="#" v-on:click="share" title="facebook"><span class="icon-facebook2"></span></a>
    <a class="results__share-link" href="#" v-on:click="shareTwitter" title="twitter" target="_blank"><span class="icon-twitter"></span></a>
  </div>
</template>

<script>
  export default {
    props: {
      placeid: {
        default: '333'
      }
    },
    methods: {
      share: function(e) {
        FB.ui({
          hashtag: '#QldCamping',
          method: 'share',
          mobile_iframe: true,
          href: 'http://qldcamping.curiosat.com/places/' + this.placeid,
        },
        function(response){});
        return false;
      },
      shareTwitter: function (e) {
        window.open('https://twitter.com/intent/tweet?url=' + window.location.href + '&text=Here are my top 6 choices for Qld campgrounds for this Spring Holiday&hashtags=QldCamping');
        return false;
      }
    }
  }
</script>

<style>

  .results__share {
    margin-bottom: 3rem;
  }
  .results__share p {
    margin-bottom: 0;
  }

  .results__share-link {
    display: inline-block;
    color: #3f51b5;
    width: 50px;
    height: 50px;
    border-radius: 1px;
    line-height: 50px;
    font-size: 25px;
    text-decoration: none;
  }

  .results__share-link:last-child {
    color: #2c87d0;
  }
  .results__share-link:hover,
  .results__share-link:focus {
      color: #343434;
      text-decoration: none !important;
  }

</style>
