<template>
  <div class="welcome" key="content">
    <img src="/images/young-mobile.jpg" alt="Girl jumping into water" srcset="/images/young-mobile.jpg, /images/young.jpg 880w" class="intro__pic">
    <slot>Loading..</slot>
  </div>
</template>

<script>
</script>

<style>
  .welcome {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding: 30px;
    min-height: 100vh;
  }
</style>
