<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
import Vue from 'vue';
import bus from './bus.js';
import axios from 'axios';

export default {
  props: {
    options: {
      default: {}
    }
  },
  created: function (){
     bus.$on('foo', this.trigger)
  },
  methods: {
    trigger: function(q) {

      let obj = this;
      console.log('get data for ', q);
      axios.get('http://qldcamping.curiosat.com/get?postcode=' + q.postcode + '&adults=' + q.adults + '&adventure=' + q.query)
        .then(function (response) {
            obj.options = response.data;
            return obj.$router.push({path: 'places/' + response.data.id})
          })
        .catch(function (error) {
          console.log(error.message);
      })
    }
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

  [v-cloak] {
    display: none;
  }

  body {
    font-family: Montserrat, sans-serif;
    background: #faf6ea;
  }

  @font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?qg7149');
    src:  url('fonts/icomoon.eot?qg7149#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?qg7149') format('truetype'),
      url('fonts/icomoon.woff?qg7149') format('woff'),
      url('fonts/icomoon.svg?qg7149#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-sphere:before {
    content: "\e9c9";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
</style>
